<h1 class="m-6">Aulas</h1>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button type="button"             
      class="btn btn-primary btn-sm p-2 m-4"
      routerLink="nuevo">Nueva Aula
  </button>
  </div>
<div class="card card-flush h-md-100 m-4 p-5">
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nro</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let aula of aulas">
        <td>{{aula.nombre}}</td>
        <td><button type="button"             
          class="btn btn-warning btn-sm p-2"
          routerLink="editar" (click)="editar(aula.id)">Editar Aula</button>
          <button type="button" class="btn btn-danger btn-sm p-2"(click)="eliminar(aula.id)">Eliminar</button>
      </td>
      </tr>
    </tbody>
</table>

</div>

