<!--<form>
    <h1 class="m-6">Registrar Asistencia</h1>
    <div class="card card-flush h-md-100 m-4 p-5">
        <div class="container p-8 m-4">
            <div class="row mb-3">
                <label for="inputState" class="col-sm-2 col-form-label">Nombre</label>
                <div class="col-sm-10">
                    <select id="inputState" class="form-select" formControlName="programacionDTO">
                        <option *ngFor="let programacion of programaciones" [ngValue]="programacion"> {{asistencia.programacionDTO.userDTO.firstname}} </option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputState" class="col-sm-2 col-form-label">Apellido</label>
                <div class="col-sm-10">
                    <select id="inputState" class="form-select" formControlName="programacionDTO">
                        <option *ngFor="let programacion of programaciones" [ngValue]="programacion"> {{asistencia.programacionDTO.userDTO.lastname}} </option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputState" class="col-sm-2 col-form-label">Materia</label>
                <div class="col-sm-10">
                    <select id="inputState" class="form-select" formControlName="programacionDTO">
                        <option *ngFor="let programacion of programaciones" [ngValue]="programacion"> {{asistencia.programacionDTO.materiaDTO.nombre}} </option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputState" class="col-sm-2 col-form-label">Grupo</label>
                <div class="col-sm-10">
                    <select id="inputState" class="form-select" formControlName="programacionDTO">
                        <option *ngFor="let programacion of programaciones" [ngValue]="programacion"> {{asistencia.programacionDTO.grupoDTO.nombre}} </option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputState" class="col-sm-2 col-form-label">Aula</label>
                <div class="col-sm-10">
                    <select id="inputState" class="form-select" formControlName="programacionDTO">
                        <option *ngFor="let programacion of programaciones" [ngValue]="programacion"> {{asistencia.programacionDTO.aulaDTO.nombre}} </option>
                    </select>
                </div>
            </div>
            <div class="row mb-3 justify-content-center">
                <div class="col-auto">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label text-dark" for="flexRadioDefault1">
                          Marcar Asistencia
                        </label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn mb-3 btn-primary">Guardar</button>
        </div>
    </div>   
  </form>-->


