<form>
    <h1 class="m-6">Registrar Nueva Programacion</h1>
    <div class="card card-flush h-md-100 m-4 p-5">
        <form [formGroup]="formGroup" (ngSubmit)="guardar()">
            <div class="container p-8 m-4">
                <div class="row mb-3">
                    <label for="inputState" class="col-sm-2 col-form-label">Usuario</label>
                    <div class="col-sm-10">
                      <select id="inputState" class="form-select" formControlName="userDTO">
                        <option *ngFor="let usuario of usuarios" [ngValue]="usuario">
                          {{ usuario.firstname }} {{ usuario.lastname }}
                        </option>
                      </select>
                    </div>
                  </div>
                <div class="row mb-3">
                    <label for="inputState" class="col-sm-2 col-form-label">Materia</label>
                    <div class="col-sm-10">
                        <select id="inputState" class="form-select" formControlName="materiaDTO">
                            <option *ngFor="let materia of materias" [ngValue]="materia"> {{materia.nombre}} </option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputState" class="col-sm-2 col-form-label">Grupo</label>
                    <div class="col-sm-10">
                        <select id="inputState" class="form-select" formControlName="grupoDTO">
                            <option *ngFor="let grupo of grupos" [ngValue]="grupo"> {{grupo.nombre}} </option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputState" class="col-sm-2 col-form-label">Aula</label>
                    <div class="col-sm-10">
                        <select id="inputState" class="form-select" formControlName="aulaDTO">
                            <option *ngFor="let aula of aulas" [ngValue]="aula"> {{aula.nombre}} </option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputState" class="col-sm-2 col-form-label">Dia</label>
                    <div class="col-sm-10">
                        <select id="inputState" class="form-select" formControlName="dia">
                            <option value="LUNES"> LUNES </option>
                            <option value="MARTES"> MARTES </option>
                            <option value="MIERCOLES"> MIERCOLES </option>
                            <option value="JUEVES"> JUEVES </option>
                            <option value="VIERNES"> VIERNES </option>
                            <option value="SABADO"> SABADO </option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputState" class="col-sm-2 col-form-label">Horario Inicio</label>
                    <div class="col-sm-10">
                      <input type="time" class="form-control" id="datetimeIninio"  formControlName="horario_inicio">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputState" class="col-sm-2 col-form-label">Horario Fin</label>
                    <div class="col-sm-10">
                      <input type="time" class="form-control" id="datetimeInput" formControlName="horario_fin">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>      
    </div>   
  </form>

